[build]
  command = "npm install --include=dev && npx prisma generate && npm run build"
  publish = "dist"


[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--include=dev"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
    [headers.values]
      Access-Control-Allow-Origin = "https://qalamulilm-admin.netlify.app"
      Access-Control-Allow-Headers = "Content-Type, Authorization"
      Access-Control-Allow-Methods = "GET, POST, PUT, PATCH, DELETE, OPTIONS"
      Access-Control-Allow-Credentials = "true"

